.character-card {
  display: flex;
  border-radius: 0.5em;
  background-image: linear-gradient(
    90deg,
    var(--background-color),
    transparent
  );
}

.character-card__image {
  border-bottom-left-radius: 0.5em;
  border-top-left-radius: 0.5em;
  height: 14em;
}

.character-card__info {
  display: grid;
  padding: 1em;
  align-items: center;
  text-align: start;
}
.character-card__info * {
  margin: 0;
}

.character-card__name a {
  text-decoration: none;
  color: var(--text-color);
}
